<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>word</key>
		<string>one</string>
		<key>translation</key>
		<string>1</string>
		<key>url</key>
		<string></string>
	</dict>
	<dict>
		<key>url</key>
		<string></string>
		<key>word</key>
		<string>two</string>
		<key>translation</key>
		<string>2</string>
	</dict>
	<dict>
		<key>url</key>
		<string></string>
		<key>word</key>
		<string>three</string>
		<key>translation</key>
		<string>3</string>
	</dict>
	<dict>
		<key>url</key>
		<string></string>
		<key>word</key>
		<string>four</string>
		<key>translation</key>
		<string>4</string>
	</dict>
	<dict>
		<key>url</key>
		<string></string>
		<key>word</key>
		<string>five</string>
		<key>translation</key>
		<string>5</string>
	</dict>
	<dict>
		<key>url</key>
		<string></string>
		<key>word</key>
		<string>six</string>
		<key>translation</key>
		<string>6</string>
	</dict>
	<dict>
		<key>url</key>
		<string></string>
		<key>word</key>
		<string>seven</string>
		<key>translation</key>
		<string>7</string>
	</dict>
	<dict>
		<key>url</key>
		<string></string>
		<key>word</key>
		<string>eight</string>
		<key>translation</key>
		<string>8</string>
	</dict>
	<dict>
		<key>url</key>
		<string></string>
		<key>word</key>
		<string>nine</string>
		<key>translation</key>
		<string>9</string>
	</dict>
	<dict>
		<key>url</key>
		<string></string>
		<key>word</key>
		<string>ten</string>
		<key>translation</key>
		<string>10</string>
	</dict>
</array>
</plist>
