<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>2-Jan22</string>
		<key>path</key>
		<string>2-Jan22</string>
		<key>status</key>
		<string>2</string>
	</dict>
	<dict>
		<key>name</key>
		<string>2-Jan30</string>
		<key>path</key>
		<string>2-Jan30</string>
		<key>status</key>
		<string>2</string>
	</dict>
	<dict>
		<key>name</key>
		<string>2-Feb05</string>
		<key>path</key>
		<string>2-Feb05</string>
		<key>status</key>
		<string>1</string>
	</dict>
	<dict>
		<key>name</key>
		<string>3-Jan22</string>
		<key>path</key>
		<string>3-Jan22</string>
		<key>status</key>
		<string>0</string>
	</dict>
	<dict>
		<key>name</key>
		<string>3-Jan30</string>
		<key>path</key>
		<string>3-Jan30</string>
		<key>status</key>
		<string>0</string>
	</dict>
	<dict>
		<key>name</key>
		<string>3-Feb05</string>
		<key>path</key>
		<string>3-Feb05</string>
		<key>status</key>
		<string>0</string>
	</dict>
	<dict>
		<key>name</key>
		<string>number</string>
		<key>path</key>
		<string>number</string>
		<key>status</key>
		<string>1</string>
	</dict>
	<dict>
		<key>name</key>
		<string>EOL-Jan22</string>
		<key>path</key>
		<string>EOL-Jan22</string>
		<key>status</key>
		<string>0</string>
	</dict>
</array>
</plist>
